body{
    background-color: deepskyblue;
}
h1{
    font-family: sans-serif;
}

.center {
     margin: auto;
     width: 70%;
}

.left{ 
    margin: left;
    width: 15%;
}

.right{
    margin: right;
    width: 15%;
}
.rank{
    margin: auto;
    width: 60%;
    color: white;
}
.quote{
    color: #DF4D55;
    font-style: italic;
}

table{
    background-color: darkslategrey;
}

