body{
    background-color: lightseagreen;
}
h1{
    font-family: sans-serif;
}

.center {
     margin: auto;
     width: 60%;
}

.left{
    background-color: red; 
    margin: left;
    width: 20%;
}

.right{
    background-color: yellowgreen;
    margin: right;
    width: 20%;
}