body{
    background-color: lightseagreen;
}
h1{
    font-family: sans-serif;
}

.center {
     margin: auto;
     width: 60%;
}

.left{ 
    margin: left;
    width: 20%;
}

.right{
    margin: right;
    width: 20%;
}
.rank{
    margin: auto;
    width: 50%;
    color: white;
}
.quote{
    color: gold;
    font-style: italic;
}

table{
    background-color: darkslategrey;
}